{
  "tabWidth": 4,
  "singleQuote": true,
  "prettier.jsxBracketSameLine": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["*.js", "*.tsx", "*.ts", "*.json", "*.yml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
