.success-sect{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.order-success{
  flex-basis: 66%;
  margin-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pizza-success{
  display: flex;
  flex-basis: 30%;
  height: 195px;
  margin-right: 70px;
}

.pizza-success img{
  flex-basis: 100%;
}

.success-div{
  flex-basis: 56%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.success-title{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  flex-basis: 60%;
  flex-basis: 100%;
}

.success-title2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  flex-basis: 60%;
  flex-basis: 100%;
  margin-top: -40px;
}

.success-par{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #8C8C8C;
}

.success-par2{
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #8C8C8C;
  margin-top: -20px;
}

.buy-another{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.buy-another-btn{
  flex-basis: 187px;
  height: 68px;
  background: #B95DE4;
  border-radius: 48px;
  padding: 16px 48px;
  color: white;
  border: none;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
}