.login-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  height: 600px;
  border: 1px solid #F2F2F2;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 50px;
  justify-content: center;
}

.login-form h1{
  flex-basis: 100%;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: -50px;
}

.input-login{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.input-login label{
  flex-basis: 20%;
  height: 30px;
  font-size: 25px;
}

.input-login input{
  flex-basis: 60%;
  height: 30px;
  border: 0px;
  background: #ECECF3;
  border-radius: 72px;
  text-align: center;
  font-family: 'Avenir';
}

.input-login img{
  flex-basis: 5%;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.submit-login{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.log-btn{
  flex-basis: 30%;
  border: 0px;
  background: #B95DE4;
  border-radius: 48px;
  color: white;
  font-family: 'Avenir';
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.remember-btn{
  flex-basis: 30%;
  border: 0px;
  background: #B95DE4;
  border-radius: 48px;
  color: white;
  font-family: 'Avenir';
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.log-google{
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.log-google p{
  flex-basis: 100%;
  text-align: center;
  margin-top: -30px;
}

.log-google button{
  flex-basis: 30%;
  border: 0px;
  background: #B95DE4;
  border-radius: 48px;
  color: white;
  font-family: 'Avenir';
  height: 40px;
  cursor: pointer;
  font-size: 16px;
}

.reset-p{
  text-align: center;
  flex-basis: 100%;
  font-size: 20px;
}

.reset-link{
  text-decoration: none;
  color: #B95DE4;
}

.register-p{
  text-align: center;
  flex-basis: 100%;
  font-size: 20px;
  margin-top: -10px;
}

.register-link{
  text-decoration: none;
  color: #B95DE4;
}

.error-login{
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  height: 30px;
}

.error-login p{
  flex-basis: 100%;
  text-align: center;
  color: red;
  font-size: 16px;
}

