.reset-div{
  margin-top: 200px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px;
  margin-top: 0;
}

.reset-form{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  margin: 10px;
  height: 130px;
  border: 1px solid #F2F2F2;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 50px;
  justify-content: center;
}

.reset-form label{
  flex-basis: 100%;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.reset-form input{
  flex-basis: 40%;
  margin-right: 10px;
  height: 40px;
  border: 0px;
  background: #ECECF3;
  border-radius: 72px;
  text-align: center;
  font-family: 'Avenir';
}

.reset-form button{
  flex-basis: 20%;
  border: 0px;
  background: #B95DE4;
  border-radius: 48px;
  color: white;
  font-family: 'Avenir';
  height: 42px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.reset-msg{
  color: green;
  margin-top: 15px;
  flex-basis: 100%;
  font-size: 16px;
}

.reset-err{
  color: red;
  flex-basis: 100%;
  font-size: 16px;
}

.sign-div{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.sign-button{
  flex-basis: 10%;
  border: 0px;
  background: #B95DE4;
  border-radius: 48px;
  color: white;
  font-family: 'Avenir';
  height: 42px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}