.app{
  background: #FAFAFA;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  color: #383838;
}

#root{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-item: center;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf);
}
