.resetPassword{
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pizzaTron{
  composes: pizzaTron from './register.module.css';
}

.resetMessage{
  composes: welcomeMessage from './register.module.css';
  font-size: 44px;
}

.form{
  composes: form from './register.module.css';
  justify-content: center;
}

.label{
  flex-basis: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.inputDiv{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.resetInput{
  flex-basis: 50%;
  text-align: center;
  font-family: 'Montserrat';
  background: #ECECF3;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 40px 0 30px 0;
  font-size: 24px; 
}

.resetBtnDiv{
  composes: inputDiv;
}

.resetBtn{
  flex-basis: 30%;
  text-align: center;
  border: none;
  background: #B490DF;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.7em;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.2s;
}

.resetBtn:hover{
  background: #CEA5FF;
}

.errorMessage{
  flex-basis: 100%;
  text-align: center;
  color: red;
}

.successMessage{
  flex-basis: 100%;
  text-align: center;
  color: green;
}